@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Roboto:ital@1&display=swap');

.main{
    margin: 0px;
    background: yellow;
    margin-top: 60px;
    
}
.text_footer{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

article{
    width: 100%;
    padding-top: 5px;
    background-color: #00b34a;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

a{
    text-decoration: none;
    color: white;
    
}
ul{
    display: flex;
    padding-top: 25px;
    
}
li{
    list-style: none;
    margin-right: 20px;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
}
.logo_main{
    background-image: url("../../../images/fons/ng.png");
    background-size: cover;
    margin: 0px;
    padding: 50px 40px 100px 00px;
    text-align: center;
    color: #FFFFFF;
    
}
.name_logo{
    margin-top: 440px;
    

}
.priglashenie{
    font-size: 20px;
    
}
h2{
    margin-left: 4%;
    font-family: 'Arial Black', Gadget, sans-serif;
    color: white;
    font-size: 30px;

}
.spisok_card{
    display: flex;
    justify-content: space-evenly;    
}
.card{
    width: 25%;
    text-align: left;
    background: orange;
}
.a_spisok{
    text-decoration: none;
}
.img_main{ 
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
}
.card_opisanie{
    font-family: gotham,sans-serif;
    font-size: 25px;
    color: black;
    padding: 0  5px;
}
.posled{
    margin: 0px;
    
}

.textt{
    margin-top: 20px;
    margin-left: 90px;
}


@media (max-width:480px){
    .main{
        margin: 0;
    }
    .logo{
        font-size: 30px;
        padding: 20px;
        margin-left: 20%;
        
    }
    .name_logo{
        font-size: 40px;
        margin-top: 60px;
    }
    h3{
        font-size: 20px;

    }
    .spisok_card{
        display: block;
    }
    .card{
        margin-left: 20%;
        width: 60%;
        background: #00b34a;

    }
    .img_main{
        height: 0%;
    }
    .card_opisanie{
        padding-bottom: 10px;
        font-size: 20px;
    }
    .logo_main{
        background-image: url("../../../images/fons/ng.png");
        background-size: cover;
        padding: 10px 0px 100px 0px;
        
    }
    .priglashenie{
        font-size: 20px;
    }
    h2{
        font-size: 20px;
        margin-left: 10%;
        margin-top: 0;
    }

}